<!doctype html>
<html lang="en">
  <head>
    <title>Customers Info &mdash; Website By Mohd Usama For Internship Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fancybox.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datepicker.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/flaticon/font/flaticon.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <style>
tr:nth-child(even) {background-color: #f2f2f2;}
a{
color:white;
background-color:#FF3399;
padding:5px 15px 5px 15px;
text-decoration:none;
border-radius:20px;
text-align:center;
display: block;
width: 120px;
}
.login-dark
{
background-color:rgb(30,40,51);
text-align:center;
padding:20px;
width:350px;
height:450px;
border-radius:5px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
</style>

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">Sparks Bank<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/" class="nav-link">Home</a></li>
                <li class="has-children">
                  <a href="#about-section" class="nav-link">About Us</a>
                  <ul class="dropdown">
                    <li><a href="#team-section" class="nav-link">Team</a></li>
                    <li><a href="#gallery-section" class="nav-link">Gallery</a></li>
                    <li><a href="#services-section" class="nav-link">Services</a></li>
                    <li class="has-children">
                      <a href="#">More Links</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>


                <li><a href="#blog-section" class="nav-link">Blog</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
    </header>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<table border="0" style="box-shadow:1px 1px 10px white" width="70%" height="70%" align="center">
<tr>
<td style="background-position:center center" valign="top" align="center">
 <table border="0" cellpadding="8px" width="100%" style="background-color:#CCCCCC">
 <tr style="background-color:navy;color:white">
 <td>customer id</td>
 <td>name</td>
 <td>dob</td>
 <td>city</td>
 <td>State</td>
 <td>pin code</td>
 <td>email id</td>
 <td>phone no</td>
 <td>balance</td>
 </tr>
  {% for item in data %}
<tr>
 <td>{{item.cust_id}}</td>
 <td>{{item.name}}</td>
 <td>{{item.dob}}</td>
 <td>{{item.city}}</td>
 <td>{{item.state}}</td>
 <td>{{item.pin_code}}</td>
 <td>{{item.email_id}}</td>
 <td>{{item.phone_no}}</td>
  <td>{{item.balance}}</td>
  {% endfor %}
 </table>

 </td>
</tr>
<tr style="background-color:black;color:white;height:25px">
<td colspan="2"><marquee behavior="alternate">
View All The Current Customers.
  Select a user to and try to transfer money.
</marquee></td>
</tr>
</table>
<br><br><br>

  <center><a href="transfer-money" target="_blank" class="btn  btn-primary mr-2 mb-2" data-dismiss="modal">Transfer</a></center>



<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>This is a dummy project don't take this seriously. </p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-us" class="smoothscroll">Terms</a></li>
                  <li><a href="#about-us" class="smoothscroll">Policy</a></li>
                  <li><a href="#about-us" class="smoothscroll">About Us</a></li>
                  <li><a href="#services-section" class="smoothscroll">Services</a></li>
                  <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3 footer-social">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank"></a>
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </div>
          </div>

        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery-ui.js')}}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery.countdown.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery.easing.1.3.js')}}"></script>
  <script src="{{ url_for('static',filename='js/aos.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery.fancybox.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery.sticky.js')}}"></script>
  <script src="{{ url_for('static',filename='js/isotope.pkgd.min.js')}}"></script>


  <script src="{{ url_for('static',filename='js/main.js')}}"></script>


  </body>
</html>