<html>
<head>
    <title>Transfer Money</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fancybox.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datepicker.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/flaticon/font/flaticon.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<BODY>
<center><h3>Enter The Details For Transfer</h3></center>>
<br><br>
<form name="transfer" id="form1" action = "/transfer-money" method="post" novalidate>
  <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Sender Id</label>
                <input type="number" class="form-control" placeholder="Enter Id" id="sender" name='sender' required data-validation-required-message="Please enter your the amount to transfer.">
                <label>Receiver Id</label>
                <input type="number" class="form-control" placeholder="Enter Id" id="receiver" name='receiver' required data-validation-required-message="Please enter your the amount to transfer.">
                <label>Amount</label>
                <input type="number" class="form-control" placeholder="1000" id="amount" name='amount' required data-validation-required-message="Please enter your the amount to transfer.">
                <p class="help-block text-danger"></p>
              </div>
    <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">Submit</button>
  </div>
</form>

<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>This is a dummy project don't take this seriously. </p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-us" class="smoothscroll">Terms</a></li>
                  <li><a href="#about-us" class="smoothscroll">Policy</a></li>
                  <li><a href="#about-us" class="smoothscroll">About Us</a></li>
                  <li><a href="#services-section" class="smoothscroll">Services</a></li>
                  <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3 footer-social">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank"></a>
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </div>
          </div>

        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery-ui.js')}}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery.countdown.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery.easing.1.3.js')}}"></script>
  <script src="{{ url_for('static',filename='js/aos.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery.fancybox.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jquery.sticky.js')}}"></script>
  <script src="{{ url_for('static',filename='js/isotope.pkgd.min.js')}}"></script>


  <script src="{{ url_for('static',filename='js/main.js')}}"></script>

</BODY>
</html>